body {
  font-family: "Helvetica Neue", "Helvetica", "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", "Meiryo", "ＭＳ Ｐゴシック", arial, sans-serif;
}

.meebid .el-button--primary {
  background-color: #ff5242;
  border-color: #ff5242;
}

.meebid .el-input__inner:focus {
    border-color: #ff5242;
}

.meebid .el-button--primary:focus, .meebid .el-button--primary:hover {
  background: #ff7063;
  border-color: #ff7063;
}

.meebid .el-radio__inner:hover {
  border-color: #ff5242;
}

.meebid .el-radio__input.is-checked .el-radio__inner {
    border-color: #ff5242;
    background: #ff5242;
}

.meebid .el-menu--horizontal.el-menu--dark .el-submenu .el-menu-item.is-active, .meebid .el-menu-item.is-active {
  color: #ff5242;
}

.meebid .el-upload-list__item.is-success .el-upload-list__item-name:hover {
  color: #ff5242;
}

.meebidHomeHeader {
  width: 100%; 
  border-bottom: 1px solid #efefef; 
  padding: 15px 30px;
  display: flex;
  position: fixed;
  top: 0px;
  z-index: 2;
  background: #ffffff;
}

.meebid .form-control {
  background-color: #eeeeee;
  padding-left: 50px;
  font-family: "Helvetica Neue", "Helvetica", "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", "Meiryo", "ＭＳ Ｐゴシック", arial, sans-serif;
  font-size: 16px;
  height: 40px;
  border: none;
  font-weight: bold;
  color: #333333;
  box-shadow: none;
}

.meebid .meebidHeaderSearchIcon {
  font-size: 18px;
  color: #aaaaaa; 
  position:absolute; 
  top: 10px; 
  left: 15px;
}

.meebidHeaderButtonToolbar {
  min-width: 500px;
}

.meebidButtonWrapper.homeWrapper {
  padding-left: 20px;
}

.meebidHomeContent {
  position: relative;
  min-width: 900px;
  margin-top: 85px;
}

.meebidtypeahead {
  width: 100%;
  position: relative;
}

.meebidtypeahead .dropdown-menu {
  border: none;
  width: 100%;
  box-shadow: 2px 2px 12px 2px rgba(0,0,0,.175);
}

.meebidtypeahead .meebidUiLocalBusyIndicator {
  height: 42px;
  position: relative;
  background-color: unset;
}

.meebidtypeahead .noResult {
  height: 42px;
  line-height: 42px;
  padding-left: 20px;
}

/**
  meebidButton Start
  */
.meebidButton {
  position: relative;
  width: auto;
  line-height: 26px;
  font-family: "Helvetica Neue", "Helvetica", "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", "Meiryo", "ＭＳ Ｐゴシック", arial, sans-serif;
  font-weight: bold;
  border-radius: 8px;
  padding: 6px 12px;
}

.meebidButtonRoundCorner {
  border-radius: 999px;
  padding: 8px 16px;
}

.meebidButtonRed {
  border-radius: 8px;
  color: #ffffff;
  background-color: #bd081c;
  padding: 6px 12px;
}

.meebidButtonWhite {
  border-radius: 8px;
  color: #555555;
  background-color: #ffffff;
  padding: 6px 12px;
}

.meebidButtonWhite:hover {
  background-color: #eeeeee;
}

.meebidButtonRed:hover {
  background-color: #9d081c;
}

.meebidButton.meebidButtonRed .glyphicon{
  color: #ffffff;
}

.meebidButton:hover {
  cursor: pointer;
}

.meebidButtonRoundCorner:hover {
  background-color: rgba(0, 0, 0, 0.06);
}

.meebidButton:focus {
  border: none;
}

.meebidButtonWrapper  {
  border-radius: 999px;
  display: inline-block;
  padding: 0 5px;
}

.meebidButton .glyphicon {
  font-size: 21px;
  padding-top: 0px;
  padding-bottom: 2px;
  color: #b5b5b5;
}
.meebidButton .meebidButtonWithText {
  padding-right: 12px;
  font-size: 15px;
  padding-top: 5px;
}

.meebidButton.meebidButtonRoundCorner.isIconOnly {
  padding: 6px 10px;
}

.meebidButton.isIconOnly .glyphicon {
  top: 4px;
}

.meebidButton.isIconOnly {
  padding: 6px 8px;
}

.meebidButton .meebidButtonText {
  white-space: nowrap;
  font-size: 16px;
}

.meebidButton .meebidButtonHintWrapper {
  position: absolute;
  right: -2px;
  top: 2px;
}

.meebidButton .meebidButtonHintWrapper .meebidButtonHintContainer {
  width: 18px;
  height: 18px;
  border-radius: 50%;
  background-color: #bd081c;
  color: #ffffff;
}

.meebidButton .meebidButtonHintWrapper .meebidButtonHintContainer .meebidButtonHintText{
  font-size: 12px;
  line-height: 18px;
  text-align: center;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}
/**
  meebidButton End
  */

/**
  BusyIndicator Start
  */
.meebidUiLocalBusyIndicator {
    z-index: 10000;
    background-color: rgba(250,250,250,0.72);
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    opacity: 0;
    transition: opacity 0.3s ease-in;
    -webkit-transition: opacity 0.3s ease-in
}

.meebidUiLocalBusy .meebidUiLocalBusy .meebidUiLocalBusyIndicator {
    display: none
}

.meebidUiLocalBusyIndicatorFade {
    opacity: 1
}

.meebidUiLocalBusyIndicatorSizeSmall {
    font-size: 1rem
}

.meebidUiLocalBusyIndicatorSizeMedium {
    font-size: 1.75rem;
}

.meebidUiLocalBusyIndicatorSizeBig {
    font-size: 2.25rem;
}

.meebidUiLocalBusyIndicatorAnimation {
    position: absolute;
    width: 3em;
    top: 50%;
    left: 50%
}

.meebidUiLocalBusyIndicatorAnimation>div {
    width: 1em;
    height: 1em;
    border-radius: 100%;
    display: block;
    float: left;
    margin: 0;
    position: relative;
    top: -0.5em;
    left: -1.5em;
    text-indent: 1px
}

.meebidUiLocalBusyIndicatorAnimation>div::before,.meebidUiLocalBusyIndicatorAnimation>div::after {
    content: "";
    opacity: 1;
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 100%
}

.meebidUiLocalBusyIndicatorAnimation>div::before {
    background: #bd081c
}

.meebidUiLocalBusyIndicatorAnimation>div::after {
    box-shadow: inset 0 0 2px 1px rgba(189,8,92,0.8)
}

.meebidUiLocalBusyIndicatorAnimation>div,.meebidUiLocalBusyIndicatorAnimation>div::before,.meebidUiLocalBusyIndicatorAnimation>div::after {
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both
}

.meebidUiLocalBusyIndicatorAnimStandard>div {
    -webkit-animation: meebidUiBusyAnimationStandard 1.8s infinite ease-in-out;
    animation: meebidUiBusyAnimationStandard 1.8s infinite ease-in-out
}

.meebidUiLocalBusyIndicatorAnimStandard>div::before {
    -webkit-animation: meebidUiBusyAnimationStandardBackground 1.8s infinite ease-in-out;
    animation: meebidUiBusyAnimationStandardBackground 1.8s infinite ease-in-out
}

.meebidUiLocalBusyIndicatorAnimStandard>div::after {
    -webkit-animation: meebidUiBusyAnimationStandardShadow 1.8s infinite ease-in-out;
    animation: meebidUiBusyAnimationStandardShadow 1.8s infinite ease-in-out
}

.meebidUiLocalBusyIndicatorAnimStandard>div:nth-child(1) {
    -webkit-animation-delay: -0.32s;
    animation-delay: -0.32s
}

.meebidUiLocalBusyIndicatorAnimStandard>div:nth-child(2) {
    -webkit-animation-delay: -0.16s;
    animation-delay: -0.16s
}

.meebidUiLocalBusyIndicatorAnimSmall>div {
    -webkit-animation: meebidUiBusyAnimationSmall 1.6s infinite ease-in-out;
    animation: meebidUiBusyAnimationSmall 1.6s infinite ease-in-out
}

.meebidUiLocalBusyIndicatorAnimSmall>div::before {
    -webkit-animation: meebidUiBusyAnimationSmallBackground 1.6s infinite ease-in-out;
    animation: meebidUiBusyAnimationSmallBackground 1.6s infinite ease-in-out
}

.meebidUiLocalBusyIndicatorAnimSmall>div::after {
    -webkit-animation: meebidUiBusyAnimationSmallShadow 1.6s infinite ease-in-out;
    animation: meebidUiBusyAnimationSmallShadow 1.6s infinite ease-in-out
}

.meebidUiLocalBusyIndicatorAnimSmall>div:nth-child(1),.meebidUiLocalBusyIndicatorAnimSmall>div:nth-child(3) {
    visibility: hidden
}

#meebidUiBusyIndicator {
    right: 0
}

#meebidUiBusyIndicator>.meebidUiLocalBusyIndicatorFade {
    cursor: wait
}

@keyframes meebidUiBusyAnimationStandard {
    0%,80%,100% {
        transform: scale(0.4)
    }

    40% {
        transform: scale(1)
    }
}

@-webkit-keyframes meebidUiBusyAnimationStandard {
    0%,80%,100% {
        -webkit-transform: scale(0.4)
    }

    40% {
        -webkit-transform: scale(1)
    }
}

@keyframes meebidUiBusyAnimationStandardBackground {
    0%,80%,100% {
        opacity: 1
    }

    40% {
        opacity: 0.1
    }
}

@-webkit-keyframes meebidUiBusyAnimationStandardBackground {
    0%,80%,100% {
        opacity: 1
    }

    40% {
        opacity: 0.1
    }
}

@keyframes meebidUiBusyAnimationStandardShadow {
    0%,80%,100% {
        opacity: 0
    }

    40% {
        opacity: 1
    }
}

@-webkit-keyframes meebidUiBusyAnimationStandardShadow {
    0%,80%,100% {
        opacity: 0
    }

    40% {
        opacity: 1
    }
}

/**
  BusyIndicator End
  */

/**
  meebid List Item Start
  */

.meebidHomePageList {
  margin: 10px 30px;
  position: relative;
}

.meebidListItemWrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 260px; 
  border-radius: 8px;
  overflow: hidden;
}
.meebidListItemImageWrapper {
  border-radius: 8px; 
  overflow: hidden; 
  cursor: zoom-in;
}

.meebidListItemDescriptionWrapper {
  padding-top: 10px;
  padding-left: 4px;
  padding-right: 4px;
}

.meebidListItemProviderWrapper {
  width: 100%;
  font-size: 12px;
}

.meebidListItemDescriptionLabelWrapper {
  display: inline-block;
}
.meebidListItemDescriptionIconWrapper {
  color: #aaaaaa;
  font-size: 12px;
  float: right;
  width: 60px;
  text-align: right;
}
.pinDescription {
  font-size: 12px;
  letter-spacing: -0.15px;
  line-height: 16px;
  word-spacing: 0;
  width: 160px;
}
.meebidListItemContainer {
  padding-left: 10px; 
  padding-right: 10px; 
  padding-bottom: 20px;
  padding-top: 10px;
}

.meebidListItemMask {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: auto;
  background-color: transparent;
  cursor: zoom-in;
}

.meebidListItemMask:hover {
  background-color: rgba(0,0,0,0.1);
  -webkit-transition: background-color 0.25s linear;
  -ms-transition: background-color 0.25s linear;
  transition: background-color 0.25s linear;
}

.meebidListItemMaskSaveButtonWrapper {
  position: relative; 
  float: right;
  padding-right: 15px;
  padding-top: 20px;
}

.meebidListItemMaskShareButtonWrapper {
  position: relative; 
  float: left;
  padding-left: 15px;
  padding-top: 20px;
}

.meebidListItemProviderImageWrapper {
  padding-right: 10px;
  display: inline-block;
  float: left;
  padding-top: 5px;
}
.meebidListItemAvatarImage {
  width: 24px;
  height: 24px;
  border-radius: 50%;
}
.meebidListItemProviderTextWrapper p{
  margin: 0;
  color: #555555;
}

.meebidListItemProvider {
  font-weight: bold;
}

/**
  meebid List Item End
  */
.meebidHomePage .meebidLoginDialog {
  font-family: "Gotham SSm A", "Gotham SSm B",  arial, sans-serif
}

.meebidLoginDialogLabel {
  font-size: 24px;
  text-align: left;
}
.meebidLoginDialogFieldLabel {
  padding-top: 15px;
}

.meebidHomePage .meebidLoginDialog .el-dialog{
  width: unset;
}

.meebidHomePage .meebidLoginDialog .el-dialog__header {
  padding: 15px 20px 0;
}

.meebidHomePage .meebidLoginDialog .el-dialog__body {
  padding: 20px 20px;
}

.meebidHomePage .meebidLoginDialog .meebidLoginDialogButton {
  width: 100%;
}

/**
  Category Dialog Start
  */
.meebidCategoryItem {
  display: inline-block;
  margin: 12px;
  padding: 3px;
  position: relative;
  border-radius: 28px;
  border: 3px solid transparent;
  -moz-transition: border 0.3s ease-in,border 0.2s ease-out; 
  -webkit-transition: border 0.3s ease-in,border 0.2s ease-out; 
  -o-transition: border 0.3s ease-in,border 0.2s ease-out; 
  transition: border 0.3s ease-in,border 0.2s ease-out;
}

.meebidCategoryItem:hover {
  cursor: pointer;
}

.meebidCategoryItem.selected:hover {
  border: 3px solid rgba(0,0,0,0.5);
}

.meebidCategoryItem .meebidCategoryLabel {
  position: absolute;
  bottom: 40px;
  color: #ffffff;
  width: 150px;
}

.meebidCategoryItem img {
  border-radius: 25px;
}

.meebidCategoryItemImage {
  width: 176px;
  height: 176px;
}

.meebidCategoryItem.selected {
  border: 3px solid rgba(0,0,0,0.8);
}

.meebidCategoryItemLabel {
  position: absolute;
  color: #ffffff;
  font-size: 24px;
  font-weight: bold;
  bottom: 15px;
  left: 15px;
  z-index: 2;
}

.meebidCategoryItemMask {
  width: 176px;
  height: 176px;
  z-index: 1;
  -moz-transition: background 0.3s ease-in,color 0.2s ease-out; 
  -webkit-transition: background 0.3s ease-in,color 0.2s ease-out; 
  -o-transition: background 0.3s ease-in,color 0.2s ease-out; 
  transition: background 0.3s ease-in,color 0.2s ease-out;
  background-color: rgba(0, 0, 0, 0.4);
  position: absolute;
  top: 3px;
  left: 3px;
  border-radius: 25px;
}

.meebidCategoryItem:hover .meebidCategoryItemMask {
  background-color: rgba(0, 0, 0, 0.1);
}

.categoryDialogInfoLabel {
  font-size: 24px;
  font-weight: bold;
  padding-bottom: 15px;
}

/**
  Category Dialog End
  */

/**
  Register Page Start
  */

.meebidRegisterHeaderText {
  font-size: 32px;
  color: #8e8e8e;
  padding-top: 20px;
  width: 100%;
  padding-left: 180px;
}

.meebidRegisterContent {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 15px;
}

.meebidRegisterContent .el-col-12 {
  width: 45%;
  margin-left: 50px;
  padding-top: 10px;
  padding-left: 30px;
}

.meebidRegisterContent .el-form {
  padding-top: 25px;
  max-width: 500px;
}

.meebid .meebidRegisterContent .meebidLoginFormWrapper {
  margin-left: unset;
}

.meebidRegisterFormWrapper {
  border-left: 1px solid #bac4c9;;
}

.meebidRegisterHeaderLabel {
  padding-left: 150px;
}

/**
  Register Page End
  */

/**
  Admin Page Start
  */
.meebidAdminContentWrapper {
  width: 100%;
  height: calc(100% - 73px);
  margin: 0;
}

.meebidAdminHeader {
  width: 100%; 
  border-bottom: 1px solid #efefef; 
  padding: 15px 30px;
  display: flex;
  background: #ffffff;
}

.meebidAdminMenu {
  width: 25%;
  height: 100%;
  margin: 0;
  border-right: 1px solid #efefef; 
  float: left;
}

.meebidAdminContent {
  float: left;
  width: 70%;
  height: 100%;
  margin: 0;
  padding-left: 10%;
  padding-right: 10%;
}

.meebidUserProfileUserName {
  width: 40%;
  display: inline-block;
}

.meebidUserProfileForm {
  padding-top: 20px;
}

.meebid .el-upload__input {
  display: none;
}

.meebidProfileFormWrapper {
  padding-top: 10px;
}

.meebidUserProfileFormWrapper {
  padding-top: 10px;
}

.meebidUserProfileFormWrapper .el-upload__tip {
  margin-top: unset;
}

.meebidHouseProfileForm {
  padding-top: 20px;
}

.meebidHouseProfileFormWrapper {
  padding-top: 10px;
}

.meebidHouseProfileFormWrapper .el-upload__tip {
  margin-top: unset;
}

.meebidCategorySelectItemInForm {
  width: 100%;
  min-width: 600px;
}

.meebidCategorySelectItemInForm .meebidCategoryItem {
  margin-left: 0px;
  margin-right: 24px;
  border: none;
  padding-left: 0px;
}
.meebidCategorySelectItemInForm .meebidCategoryItem .meebidCategoryItemMask {
  left: unset;
  width: 132px;
  height: 132px;
}

.meebidCategorySelectItemInForm .meebidCategoryItemLabel {
  font-size: 18px;
  bottom: 11px;
  left: 11px;
}

.meebidCategorySelectItemInForm .meebidCategoryItemImage {
  width: 132px;
  height: 132px;
}

.meebidAdminMenuLabel {
  font-weight: bold;
}
/**
  Admin Page End
  */