/**

  cut line: e2e2e2;
  basic color: FF5242;
  hover color: d24437;
  font light grey: 999999;
  light grey background: f2f2f2;
  light grey border: #ddd;
  deep grey background : e0e0e0;
  image container border: 9c9c9c;
*/

body {
  font-family: "Helvetica Neue", "Helvetica", "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", "Meiryo", "ＭＳ Ｐゴシック", arial, sans-serif;
  min-width: 1024px;
}

.meebidVerticalAlignTop {
  vertical-align: top;
}

.meebidPaddingTopMedium {
  padding-top: 20px;
}

.meebidPaddingTopSmall {
  padding-top: 10px;
}

.meebidPaddingTopLarge{
  padding-top: 30px;
}

.meebidPaddingTopHuge {
  padding-top: 80px;
}

.meebidPaddingLeftMedium {
  padding-left: 20px;
}

.meebidPaddingLeftSmall {
  padding-left: 10px;
}

.meebidPaddingLeftLarge{
  padding-left: 30px;
}

.meebidPaddingRightMedium {
  padding-right: 20px;
}

.meebidPaddingRightSmall {
  padding-right: 10px;
}

.meebidPaddingRightLarge{
  padding-right: 30px;
}

.meebidPaddingBottomMedium {
  padding-bottom: 20px;
}

.meebidPaddingBottomSmall {
  padding-bottom: 10px;
}

.meebidPaddingBottomLarge{
  padding-bottom: 30px;
}

.meebidPaddingBottomMedium {
  padding-bottom: 20px;
}

.meebidPaddingBottomSmall {
  padding-bottom: 10px;
}

.meebidPaddingBottomLarge{
  padding-bottom: 30px;
}

.meebidMarginLeftMedium {
  margin-left: 20px;
}

.meebidMarginLeftSmall{
  margin-left: 10px;
}

.meebidMarginLeftClean{
  margin-left: 0px;
}

.meebidMarginLeftLarge{
  margin-left: 30px;
}

.meebidMarginBottomMedium {
  margin-bottom: 20px;
}

.meebidMarginBottomSmall{
  margin-bottom: 10px;
}

.meebidMarginBottomLarge{
  margin-bottom: 30px;
}

.meebidMarginTopMedium {
  margin-top: 20px;
}

.meebidMarginTopSmall{
  margin-top: 10px;
}

.meebidMarginTopLarge{
  margin-top: 30px;
}

.meebidLink {
  cursor: pointer;
}

.meebidHidden {
  display: none;
}
/*
.meebid .el-radio__input.is-checked+.el-radio__label {
  color: #606266;
}

.meebid .el-button--primary {
  background-color: #ff5242;
  border-color: #ff5242;
}

.meebid .el-select .el-input.is-focus .el-input__inner {
  border-color: #606266;
}

.meebid .el-input__inner:focus {
  border-color: #606266;
}

.meebid .el-button--primary:focus, .meebid .el-button--primary:hover {
  background: #ff7063;
  border-color: #ff7063;
}

.meebid .el-radio__inner:hover {
  border-color: #ff5242;
}

.meebid .el-radio__input.is-checked .el-radio__inner {
    border-color: #ff5242;
    background: #ff5242;
}

.meebid .el-menu--horizontal.el-menu--dark .el-submenu .el-menu-item.is-active, .meebid .el-menu-item.is-active {
  color: #ff5242;
}

.meebid .el-upload-list__item.is-success .el-upload-list__item-name:hover {
  color: #ff5242;
}

.meebid .el-upload-list__item .el-icon-close-tip {
  color: #ff5242;
  font-weight: bold;
}

.meebid .el-upload--picture-card:hover, .meebid .el-upload:focus {
    border-color: #ff5242;
    color: #ff5242;
}
*/

.meebid .meebidNoBorderButton {
  border-color: transparent;
}

.meebid .meebidNoBorderButton.el-button--small, .meebid .meebidNoBorderButton.el-button--small.is-round {
    padding: 9px 9px;
}

.meebid .meebidSquareButton.el-button--small, .meebid .meebidSquareButton.el-button--small.is-round {
    padding: 9px 9px;
}

.meebidHomeHeader {
  width: 100%; 
  border-bottom: 1px solid #efefef; 
  padding: 15px 30px;
  display: flex;
  position: fixed;
  top: 0px;
  z-index: 10;
  background: #ffffff;
}

.meebidHomeHeader .meebidSearchTypeaheadButton {
  position: absolute;
  right: 0;
  top: 0;
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
}
/*
@media (min-width: 768px) {
  .meebid .meebidHomeHeaderContent {
    width: 740px;
  }
}

@media (min-width: 992px) {
  .meebid .meebidHomeHeaderContent {
    width: 960px;
  }
}

@media (min-width: 1200px) {
  .meebid .meebidHomeHeaderContent {
    width: 1160px;
  }  
}

@media (min-width: 1440px) {
  .meebid .meebidHomeHeaderContent {
    width: 1344px;
  }  
}

@media (min-width: 1728px) {
  .meebid .meebidHomeHeaderContent {
    width: 1536px;
  }  
}

.meebid .meebidHomeHeaderContent {
  display: flex;
  margin-left: auto;
  margin-right: auto;
}*/

.meebid .form-control {
  background-color: #eeeeee;
  padding-left: 50px;
  font-family: "Helvetica Neue", "Helvetica", "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", "Meiryo", "ＭＳ Ｐゴシック", arial, sans-serif;
  font-size: 16px;
  height: 40px;
  border: none;
  font-weight: bold;
  color: #333333;
  box-shadow: none;
}

.meebid .meebidHeaderSearchIcon {
  font-size: 18px;
  color: #aaaaaa; 
  position:absolute; 
  top: 10px; 
  left: 15px;
}

.meebidHeaderButtonToolbar {
  min-width: 500px;
}

.meebidButtonWrapper.homeWrapper {
  padding-left: 20px;
}

.meebidHomeContent {
  position: relative;
  min-width: 900px;
  margin-top: 85px;
}

.meebidContent {
  position: relative;
  min-width: 900px;
  margin-top: 85px;
}

.meebidtypeahead {
  width: 100%;
  position: relative;
}

.meebidtypeahead .dropdown-menu {
  border: none;
  width: 100%;
  box-shadow: 2px 2px 12px 2px rgba(0,0,0,.175);
}

.meebidtypeahead .meebidUiLocalBusyIndicator {
  height: 42px;
  position: relative;
  background-color: unset;
}

.meebidtypeahead .noResult {
  height: 42px;
  line-height: 42px;
  padding-left: 20px;
}

.dropdown-menu>.meebidSearchTypeaheadOptionItem:hover>a, .dropdown-menu>.meebidSearchTypeaheadOptionItem:hover>a:focus, .dropdown-menu>.meebidSearchTypeaheadOptionItem:hover>a:hover {
    color: #fff;
    text-decoration: none;
    background-color: #337ab7;
    outline: 0;
}

.meebidLoginDialogForm {
  padding-top: 15px;
}

.meebid .meebidLoginDialog .el-dialog__footer{
  padding-top: 15px;
}

/**
  meebidButton Start
  */
.meebidButton {
  position: relative;
  width: auto;
  line-height: 26px;
  font-family: "Helvetica Neue", "Helvetica", "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", "Meiryo", "ＭＳ Ｐゴシック", arial, sans-serif;
  font-weight: bold;
  border-radius: 8px;
  padding: 6px 12px;
}

.meebidButtonRoundCorner {
  border-radius: 999px;
  padding: 6px 16px;
}

.meebidButtonRed {
  border-radius: 8px;
  color: #ffffff;
  background-color: #bd081c;
  padding: 6px 12px;
}

.meebidButtonOrange {
  border-radius: 8px;
  color: #ffffff;
  background-color: #ff5242;
  padding: 6px 12px;
}

.meebidButtonWhite {
  border-radius: 8px;
  color: #555555;
  background-color: #ffffff;
  padding: 6px 12px;
}

.meebidButtonGrey {
  border-radius: 8px;
  color: #3c3c3c;
  background-color: #efefef;
  padding: 6px 12px;
}

.meebidButtonWhite:hover {
  background-color: #eeeeee;
}

.meebidButtonRed:hover {
  background-color: #9d081c;
}

.meebidButtonOrange:hover {
  background-color: #d24437;
}

.meebidButton.meebidButtonOrange .meebidButtonWithText {
  color: #ffffff;
}

.meebidButton.meebidButtonRed .glyphicon{
  color: #ffffff;
}

.meebidButton:hover {
  cursor: pointer;
}

.meebidButtonRoundCorner:hover {
  background-color: rgba(0, 0, 0, 0.06);
}

.meebidButton:focus {
  border: none;
}

.meebidButtonWrapper  {
  display: inline-block;
  padding: 0 5px;
}

.meebidButton .glyphicon {
  font-size: 20px;
  padding-top: 0px;
  padding-bottom: 2px;
  color: #b5b5b5;
}
.meebidButton .meebidButtonWithText {
  padding-right: 12px;
  font-size: 15px;
  padding-top: 5px;
}

.meebidButton.meebidButtonRoundCorner.isIconOnly {
  padding: 6px 10px;
}

.meebidButton.isIconOnly .glyphicon {
  top: 4px;
  left: 2px;
}

.meebidButton.isIconOnly {
  padding: 6px 8px;
}

.meebidButton .meebidButtonText {
  white-space: nowrap;
  font-size: 16px;
  display: inline-block;
  padding-top: 1px;
}

.meebidButton .meebidButtonHintWrapper {
  position: absolute;
  right: -2px;
  top: 2px;
}

.meebidButton .meebidButtonHintWrapper .meebidButtonHintContainer {
  width: 18px;
  height: 18px;
  border-radius: 50%;
  background-color: #bd081c;
  color: #ffffff;
}

.meebidButton .meebidButtonHintWrapper .meebidButtonHintContainer .meebidButtonHintText{
  font-size: 12px;
  line-height: 18px;
  text-align: center;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}
/**
  meebidButton End
  */

/**
  BusyIndicator Start
  */
.meebidUiLocalBusyIndicator {
    z-index: 10000;
    background-color: rgba(250,250,250,0.72);
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    opacity: 0;
    transition: opacity 0.3s ease-in;
    -webkit-transition: opacity 0.3s ease-in
}

.meebid .meebidUiLocalBusyIndicatorTransparency {
  background-color: transparent;
}

.meebidUiLocalBusy .meebidUiLocalBusy .meebidUiLocalBusyIndicator {
    display: none
}

.meebidUiLocalBusyIndicatorFade {
    opacity: 1
}

.meebidUiLocalBusyIndicatorSizeSmall {
    font-size: 1rem
}

.meebidUiLocalBusyIndicatorSizeMedium {
    font-size: 1.75rem;
}

.meebidUiLocalBusyIndicatorSizeBig {
    font-size: 2.25rem;
}

.meebidUiLocalBusyIndicatorAnimation {
    position: absolute;
    width: 3em;
    top: 50%;
    left: 50%
}

.meebidUiLocalBusyIndicatorAnimation>div {
    width: 1em;
    height: 1em;
    border-radius: 100%;
    display: block;
    float: left;
    margin: 0;
    position: relative;
    top: -0.5em;
    left: -1.5em;
    text-indent: 1px
}

.meebidUiLocalBusyIndicatorAnimation>div::before,.meebidUiLocalBusyIndicatorAnimation>div::after {
    content: "";
    opacity: 1;
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 100%
}

.meebidUiLocalBusyIndicatorAnimation>div::before {
    background: #FF5242;
}

.meebidUiLocalBusyIndicatorAnimation>div::after {
    box-shadow: inset 0 0 2px 1px #FF5242;
}

.meebidUiLocalBusyIndicatorAnimation>div,.meebidUiLocalBusyIndicatorAnimation>div::before,.meebidUiLocalBusyIndicatorAnimation>div::after {
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both
}

.meebidUiLocalBusyIndicatorAnimStandard>div {
    -webkit-animation: meebidUiBusyAnimationStandard 1.8s infinite ease-in-out;
    animation: meebidUiBusyAnimationStandard 1.8s infinite ease-in-out
}

.meebidUiLocalBusyIndicatorAnimStandard>div::before {
    -webkit-animation: meebidUiBusyAnimationStandardBackground 1.8s infinite ease-in-out;
    animation: meebidUiBusyAnimationStandardBackground 1.8s infinite ease-in-out
}

.meebidUiLocalBusyIndicatorAnimStandard>div::after {
    -webkit-animation: meebidUiBusyAnimationStandardShadow 1.8s infinite ease-in-out;
    animation: meebidUiBusyAnimationStandardShadow 1.8s infinite ease-in-out
}

.meebidUiLocalBusyIndicatorAnimStandard>div:nth-child(1) {
    -webkit-animation-delay: -0.32s;
    animation-delay: -0.32s
}

.meebidUiLocalBusyIndicatorAnimStandard>div:nth-child(2) {
    -webkit-animation-delay: -0.16s;
    animation-delay: -0.16s
}

.meebidUiLocalBusyIndicatorAnimSmall>div {
    -webkit-animation: meebidUiBusyAnimationSmall 1.6s infinite ease-in-out;
    animation: meebidUiBusyAnimationSmall 1.6s infinite ease-in-out
}

.meebidUiLocalBusyIndicatorAnimSmall>div::before {
    -webkit-animation: meebidUiBusyAnimationSmallBackground 1.6s infinite ease-in-out;
    animation: meebidUiBusyAnimationSmallBackground 1.6s infinite ease-in-out
}

.meebidUiLocalBusyIndicatorAnimSmall>div::after {
    -webkit-animation: meebidUiBusyAnimationSmallShadow 1.6s infinite ease-in-out;
    animation: meebidUiBusyAnimationSmallShadow 1.6s infinite ease-in-out
}

.meebidUiLocalBusyIndicatorAnimSmall>div:nth-child(1),.meebidUiLocalBusyIndicatorAnimSmall>div:nth-child(3) {
    visibility: hidden
}

#meebidUiBusyIndicator {
    right: 0
}

#meebidUiBusyIndicator>.meebidUiLocalBusyIndicatorFade {
    cursor: wait
}

@keyframes meebidUiBusyAnimationStandard {
    0%,80%,100% {
        transform: scale(0.4)
    }

    40% {
        transform: scale(1)
    }
}

@-webkit-keyframes meebidUiBusyAnimationStandard {
    0%,80%,100% {
        -webkit-transform: scale(0.4)
    }

    40% {
        -webkit-transform: scale(1)
    }
}

@keyframes meebidUiBusyAnimationStandardBackground {
    0%,80%,100% {
        opacity: 1
    }

    40% {
        opacity: 0.1
    }
}

@-webkit-keyframes meebidUiBusyAnimationStandardBackground {
    0%,80%,100% {
        opacity: 1
    }

    40% {
        opacity: 0.1
    }
}

@keyframes meebidUiBusyAnimationStandardShadow {
    0%,80%,100% {
        opacity: 0
    }

    40% {
        opacity: 1
    }
}

@-webkit-keyframes meebidUiBusyAnimationStandardShadow {
    0%,80%,100% {
        opacity: 0
    }

    40% {
        opacity: 1
    }
}

/**
  BusyIndicator End
  */

/**
  meebid List Item Start
  */

.meebidTileViewIcon {
  color: #FF5242;
  font-size: 20px;
}

.meebidHomePageListScrollTag {
  position: absolute;
  top: -85px;
}

.meebidHomePageListShowSwitch .meebidHomePageItemListContainer{
  position: relative;
  top: 30px;
}

.meebidHomePageListShowSwitch .meebidHomePageListViewSwitcher{
  display: initial;
}

.meebidHomePageListViewSwitcher {
  position: absolute;
  right: 20px;
  display: none;
}

.meebidWaterfallViewIcon {
  color: #FF5242;
  font-size: 20px;
}

.meebidTileViewIcon:hover, .meebidTileViewIcon:visited, 
.meebidTileViewIcon:focus, .meebidTileViewIcon:active {
  color: #d24437;
  cursor: pointer;
}

.meebidWaterfallViewIcon:hover, .meebidWaterfallViewIcon:visited, 
.meebidWaterfallViewIcon:focus, .meebidWaterfallViewIcon:active {
  color: #d24437;
  cursor: pointer;
}

.meebidHomePageList {
  margin-top: 10px;
  margin-left: auto;
  margin-right: auto;
  position: relative;
}

@media (min-width: 0px) and (max-width: 1039px) {
  .meebidHomePageList .static:nth-child(-n+3) {
    float: left;
    position: static;
    display: block;
    visibility: visible;
  }
  .meebidHomePageList {
    width: 780px;
  }
}

@media (min-width: 1040px) and (max-width: 1299px) {
  .meebidHomePageList .static:nth-child(-n+4) {
    float: left;
    position: static;
    display: block;
    visibility: visible;
  }
  .meebidHomePageList {
    width: 1040px;
  }
}

@media (min-width: 1300px) and (max-width: 1559px) {
  .meebidHomePageList .static:nth-child(-n+5) {
    float: left;
    position: static;
    display: block;
    visibility: visible;
  }
  .meebidHomePageList {
    width: 1300px;
  }
}

@media (min-width: 1560px) and (max-width: 1819px) {
  .meebidHomePageList .static:nth-child(-n+6) {
    float: left;
    position: static;
    display: block;
    visibility: visible;
  }
  .meebidHomePageList {
    width: 1560px;
  }
}

@media (min-width: 1820px) and (max-width: 2079px) {
  .meebidHomePageList .static:nth-child(-n+7) {
    float: left;
    position: static;
    display: block;
    visibility: visible;
  }
  .meebidHomePageList {
    width: 1820px;
  }
}

@media (min-width: 2080px) and (max-width: 2339px) {
  .meebidHomePageList .static:nth-child(-n+8) {
    float: left;
    position: static;
    display: block;
    visibility: visible;
  }
  .meebidHomePageList {
    width: 2080px;
  }
}

@media (min-width: 2340px) and (max-width: 2599px) {
  .meebidHomePageList .static:nth-child(-n+9) {
    float: left;
    position: static;
    display: block;
    visibility: visible;
  }
  .meebidHomePageList {
    width: 2340px;
  }
}

@media (min-width: 2600px) and (max-width: 2859px) {
  .meebidHomePageList .static:nth-child(-n+10) {
    float: left;
    position: static;
    display: block;
    visibility: visible;
  }
  .meebidHomePageList {
    width: 2600px;
  }
}

@media (min-width: 2860px) and (max-width: 3119px) {
  .meebidHomePageList .static:nth-child(-n+11) {
    float: left;
    position: static;
    display: block;
    visibility: visible;
  }
  .meebidHomePageList {
    width: 2860px;
  }
}

@media (min-width: 3120px) and (max-width: 3379px) {
  .meebidHomePageList .static:nth-child(-n+12) {
    float: left;
    position: static;
    display: block;
    visibility: visible;
  }
  .meebidHomePageList {
    width: 3120px;
  }
}

@media (min-width: 3380px) and (max-width: 3639px) {
  .meebidHomePageList .static:nth-child(-n+13) {
    float: left;
    position: static;
    display: block;
    visibility: visible;
  }
  .meebidHomePageList {
    width: 3380px;
  }
}

@media (min-width: 3640px) and (max-width: 3899px) {
  .meebidHomePageList .static:nth-child(-n+14) {
    float: left;
    position: static;
    display: block;
    visibility: visible;
  }
  .meebidHomePageList {
    width: 3640px;
  }
}

@media (min-width: 3900px) and (max-width: 4159px) {
  .meebidHomePageList .static:nth-child(-n+15) {
    float: left;
    position: static;
    display: block;
    visibility: visible;
  }
  .meebidHomePageList {
    width: 3900px;
  }
}

@media (min-width: 4160px) and (max-width: 4419px) {
  .meebidHomePageList .static:nth-child(-n+16) {
    float: left;
    position: static;
    display: block;
    visibility: visible;
  }
  .meebidHomePageList {
    width: 4160px;
  }
}

.meebidHomePageList .static {
  position: absolute;
  visibility: hidden;
}
.meebidHomePageList {
  margin-left: auto;
  margin-right: auto;
}

.meebidListItemWrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 260px; 
  border-radius: 8px;
  overflow: hidden;
  transition-property: left,top,transform;
  transition-duration: 0.5s;
  transition-timing-function: ease-in-out;
}

.meebidTileViewHomePageList .meebidListItemWrapper {
  width: 260px;
  height: 340px;
}

.meebidListItemImageWrapper {
  border-radius: 8px; 
  overflow: hidden; 
  cursor: zoom-in;
  max-height: 500px;
  min-height: 120px;
}

.meebidTileViewHomePageList .meebidListItemImageWrapper {
  background-color: #efefef;
  width: 240px;
  height: 240px;
  border: none;
  position: relative;
  display: inline-block;
  margin: 0;
  padding: 0;
  vertical-align: top;
  text-decoration: none;
  outline: none;
  border-radius: inherit;
}

.meebid .meebidTileViewHomePageList .meebidListItemImageWrapper img{
  position: absolute;
  display: block;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  max-width: 100%;
  max-height: 100%;
  margin: auto;
  vertical-align: middle;
  width: auto;
  border-radius: inherit;
}

.meebidListItemImageWrapper img {
  transition-property: width,height,transform;
  transition-duration: 0.5s;
  transition-timing-function: ease-in-out;
  border-radius: 8px; 
  width: 100%;
}

.meebidListItemDescriptionWrapper {
  padding-top: 10px;
  padding-left: 4px;
  padding-right: 4px;
}

.meebidListItemProviderWrapper {
  width: 100%;
  font-size: 12px;
}

.meebidListItemDescriptionLabelWrapper {
  display: inline-block;
}
.meebidListItemDescriptionIconWrapper {
  padding-top: 2px;
  color: #aaaaaa;
  font-size: 12px;
  float: right;
  width: 40px;
  text-align: right;
}

.meebidListItemEstimationWrapper {
  font-size: 12px;
  color: #878787;
}
.pinDescription {
  font-size: 14px;
  letter-spacing: -0.15px;
  line-height: 16px;
  word-spacing: 0;
  width: 190px;
  font-weight: bold;
  color: #3c3c3c;
}

.meebidTileViewHomePageList .pinDescription {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.meebid .meebidAlertMessage {
  line-height: 24px;
}

.meebid .meebidUnsavedAlertMessage {
  line-height: 16px;
}

.meebidListItemContainer {
  padding-left: 10px; 
  padding-right: 10px; 
  padding-bottom: 10px;
  padding-top: 10px;
}

.meebidListItemMask {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: auto;
  background-color: transparent;
  cursor: zoom-in;
}

.meebidListItemMask:hover {
  background-color: rgba(0,0,0,0.1);
  -webkit-transition: background-color 0.25s linear;
  -ms-transition: background-color 0.25s linear;
  transition: background-color 0.25s linear;
}

.meebidListItemMaskSaveButtonWrapper {
  position: relative; 
  float: right;
  padding-right: 15px;
  padding-top: 20px;
}

.meebidListItemMaskShareButtonWrapper {
  position: relative; 
  float: left;
  padding-left: 15px;
  padding-top: 20px;
}

.meebidListItemMaskAuctionHouseNameWrapper {
  position: absolute; 
  float: left;
  left: 15px;
  max-width: calc(100% - 30px);
}

.meebidTileViewHomePageList .meebidListItemMaskAuctionHouseNameWrapper {
  top: 200px !important;
}

.meebidListItemMaskAuctionHouseNameWrapper .meebidButtonWrapper {
  width: 100%;
}

.meebidListItemMaskAuctionHouseNameWrapper .meebidButtonWrapper .meebidButton {
  overflow: hidden;
  text-overflow: ellipsis;
}
    

.meebidListItemProviderImageWrapper {
  padding-right: 10px;
  display: inline-block;
  float: left;
  padding-top: 5px;
}
.meebidListItemAvatarImage {
  width: 24px;
  height: 24px;
  border-radius: 50%;
}
.meebidListItemProviderTextWrapper p{
  margin: 0;
  color: #555555;
}

.meebidListItemProvider {
  font-weight: bold;
}

/**
  meebid List Item End
  */
.meebidHomePage .meebidLoginDialog {
  font-family: "Gotham SSm A", "Gotham SSm B",  arial, sans-serif
}

.meebidLoginDialogLabel {
  font-size: 24px;
  text-align: left;
}
.meebidLoginDialogFieldLabel {
  padding-top: 15px;
}

.meebidHomePage .meebidLoginDialog .el-dialog{
  width: unset;
}

.meebidHomePage .meebidLoginDialog .el-dialog__header {
  padding: 15px 20px 0;
}

.meebidHomePage .meebidLoginDialog .el-dialog__body {
  padding: 20px 20px 0px 20px;
}

.meebidHomePage .meebidLoginDialog .meebidLoginDialogButton {
  width: calc(100% - 10px);
  margin-right: 5px;
}

/**
  Category Dialog Start
  */
.meebidCategoryItem {
  display: inline-block;
  margin: 12px;
  padding: 3px;
  position: relative;
  border-radius: 28px;
  border: 3px solid transparent;
  -moz-transition: border 0.3s ease-in,border 0.2s ease-out; 
  -webkit-transition: border 0.3s ease-in,border 0.2s ease-out; 
  -o-transition: border 0.3s ease-in,border 0.2s ease-out; 
  transition: border 0.3s ease-in,border 0.2s ease-out;
}

.meebidCategoryItem:hover {
  cursor: pointer;
}

.meebidCategoryItem.selected:hover {
  border: 3px solid rgba(0,0,0,0.5);
}

.meebidCategoryItem .meebidCategoryLabel {
  position: absolute;
  bottom: 40px;
  color: #ffffff;
  width: 150px;
}

.meebidCategoryItem img {
  border-radius: 25px;
}

.meebidCategoryItemImage {
  width: 154px;
  height: 154px;
}

.meebidCategoryItem.selected {
  border: 3px solid rgba(0,0,0,0.8);
}

.meebidCategoryItemLabel {
  position: absolute;
  color: #ffffff;
  font-size: 24px;
  font-weight: bold;
  line-height: 28px;
  max-width: 125px;
  bottom: 15px;
  left: 15px;
  z-index: 2;
  white-space: normal;
  text-overflow: ellipsis;
  overflow: hidden;
}

.meebidCategoryItemMask {
  width: 154px;
  height: 154px;
  z-index: 1;
  -moz-transition: background 0.3s ease-in,color 0.2s ease-out; 
  -webkit-transition: background 0.3s ease-in,color 0.2s ease-out; 
  -o-transition: background 0.3s ease-in,color 0.2s ease-out; 
  transition: background 0.3s ease-in,color 0.2s ease-out;
  background-color: rgba(0, 0, 0, 0.4);
  position: absolute;
  top: 3px;
  left: 3px;
  border-radius: 25px;
}

.meebidCategoryItem:hover .meebidCategoryItemMask {
  background-color: rgba(0, 0, 0, 0.1);
}

.meebidCategorySecItemToolTip {
  max-width: 500px;
}

.meebidCategorySecItem {
  display: inline-block;
  margin: 6px;
  padding: 1.5px;
  position: relative;
  border-radius: 14px;
  border: 1.5px solid transparent;
  -moz-transition: border 0.3s ease-in,border 0.2s ease-out; 
  -webkit-transition: border 0.3s ease-in,border 0.2s ease-out; 
  -o-transition: border 0.3s ease-in,border 0.2s ease-out; 
  transition: border 0.3s ease-in,border 0.2s ease-out;
}

.meebidCategorySecItem:hover {
  cursor: pointer;
}

.meebidCategorySecItem.selected:hover {
  border: 1.5px solid rgba(0,0,0,0.5);
}

.meebidCategorySecItem .meebidCategoryLabel {
  position: absolute;
  bottom: 20px;
  color: #ffffff;
  width: 75px;
}

.meebidCategorySecItem img {
  border-radius: 12.5px;
}

.meebidCategorySecItemImage {
  width: 77px;
  height: 77px;
}

.meebidCategorySecItem.selected {
  border: 1.5px solid rgba(0,0,0,0.8);
}

.meebidCategorySecItemLabel {
  position: absolute;
  color: #ffffff;
  font-size: 12px;
  font-weight: bold;
  line-height: 14px;
  max-width: 62.5px;
  bottom: 7.5px;
  left: 7.5px;
  z-index: 2;
  white-space: normal;
  text-overflow: ellipsis;
  overflow: hidden;
}

.meebidCategorySecItemMask {
  width: 77px;
  height: 77px;
  z-index: 1;
  -moz-transition: background 0.3s ease-in,color 0.2s ease-out; 
  -webkit-transition: background 0.3s ease-in,color 0.2s ease-out; 
  -o-transition: background 0.3s ease-in,color 0.2s ease-out; 
  transition: background 0.3s ease-in,color 0.2s ease-out;
  background-color: rgba(0, 0, 0, 0.4);
  position: absolute;
  top: 1.5px;
  left: 1.5px;
  border-radius: 12.5px;
}

.meebidCategorySecItem:hover .meebidCategorySecItemMask {
  background-color: rgba(0, 0, 0, 0.1);
}

.categoryDialogInfoLabel {
  font-size: 24px;
  font-weight: bold;
  padding-bottom: 15px;
}

.categoryDialogItemsWrapper {
/*  max-height: 600px;*/
  overflow: scroll;
}

/**
  Category Dialog End
  */

/**
  Register Page Start
  */

.meebidRegisterHeaderText {
  font-size: 32px;
  color: #8e8e8e;
  padding-top: 20px;
  width: 100%;
  padding-left: 180px;
}

.meebidRegisterContent {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 15px;
}

.meebidRegisterContent .el-col-12 {
  width: 50%;
  padding-top: 10px;
}

.meebidRegisterContent .el-form {
  padding-top: 25px;
  max-width: 500px;
}

.meebidRegisterFormWrapper {
  border-left: 1px solid #bac4c9;;
}

.meebidRegisterHeaderLabel {
  padding-left: 180px;
}

/**
  Register Page End
  */

/**
  Admin Page Start
  */
.meebidAddressHeaderLabel {
  padding-left: 90px;
}

.meebidAdminContentWrapper {
  width: 100%;
  height: calc(100% - 75px);
  margin: 0;
}

.meebidAdminHeader {
  width: 100%; 
  border-bottom: 1px solid #efefef; 
  padding: 15px 30px;
  display: flex;
  background: #ffffff;
}

.meebidAdminMenu {
  background-color: rgb(230, 230, 230);
  max-width: calc(100% - 600px);
  width: 25%;
  height: 100%;
  margin: 0;
  border-right: 1px solid #efefef; 
  float: left;
}

.meebidAdminMenu .el-menu {
  height: 100%;
}

.meebidAdminContent {
  min-width: 600px;
  float: left;
  width: 75%;
  height: 100%;
  margin: 0;
  padding-left: 10%;
  padding-right: 10%;
  overflow-y: scroll;
  position: relative;
}

.meebidUserProfileUserName {
  display: inline-block;
}

.meebid .meebidFormFieldSmallLength {
  width: 40%;
}

.meebid .meebidFormFieldMediumLength {
  width: 70%;
}

.meebid .meebidFormFieldLargeLength {
  width: 80%;
}

.meebid .el-upload__input {
  display: none;
}

.meebidProfileFormWrapper {
  padding-top: 10px;
}

.meebidUserProfileFormWrapper {
  padding-top: 10px;
}

.meebidUserProfileFormWrapper .el-upload__tip {
  margin-top: unset;
}

.meebidHouseProfileForm {
  padding-top: 20px;
}

.meebidHouseProfileFormWrapper {
  padding-top: 10px;
}

.meebidHouseProfileFormWrapper .el-upload__tip {
  margin-top: unset;
}

.meebidCategorySelectItemInForm {
  width: 100%;
  min-width: 600px;
}

.meebidCategorySelectItemInForm .meebidCategoryItem {
  margin-left: 0px;
  margin-right: 24px;
  border: none;
  padding-left: 0px;
}
.meebidCategorySelectItemInForm .meebidCategoryItem .meebidCategoryItemMask {
  left: unset;
  width: 132px;
  height: 132px;
}

.meebidCategorySelectItemInForm .meebidCategoryItemLabel {
  font-size: 18px;
  bottom: 11px;
  left: 11px;
}

.meebidCategorySelectItemInForm .meebidCategoryItemImage {
  width: 132px;
  height: 132px;
}

.meebidAdminMenuLabel {
  font-weight: bold;
}

.meebidUserProfileFormWrapper .el-form, .meebidHouseProfileFormWrapper .el-form {
  min-width: 750px;
}

.meebidFormFieldRevalidateButton {
  width: 120px;
}

.meebidUserProfileLongLabel .el-form-item__label{
  line-height: 20px;
}

.meebid-upload-overlimit {
  display: none;
}

.meebid .el-upload {
  margin: 0 8px 23px 0;
}

.el-upload-list__item {
  width: 60%;
}

.meebid .el-upload-list--picture-card .el-upload-list__item-thumbnail {
  max-width: 146px;
  max-height: 146px;
  width: unset;
  height: unset;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}

.meebid .meebidAdminAuctionDescription textarea{
  min-height: 99px !important;
}

.meebid .meebidPhoneNumberDialog .el-dialog__body {
  padding: 20px 20px 0px 20px;
}

.meebid .meebidAdminFloatingAlert {
  position: absolute;
  right: 10%;
  top: 20px;
}

.meebid-alert-top-in-enter-active {
  transition: all .5s;
}

.meebid-alert-top-in-enter {
  transform: translateY(-50px);
}

.meebid-alert-top-in-leave-active {
  transition: all .5s;
  transform: translateY(-50px);
}

.meebidAddressManagementTableHeader {
  font-size: 20px;
  display: inline-block;
}

.meebid .meebidMaximumAddressAlertMessage {
  line-height: 16px;
}

.meebid .meebidAddressWrapper .el-table__empty-block {
  min-height: 160px;
}

.meebid .meebidAddressWrapper {
  border-top: 1px solid #efefef; 
}

.meebid .ql-snow .ql-picker-label::before {
  vertical-align: top;
}

.meebid .ql-container {
  height: calc(100% - 60px);
}

.meebid .meebidTextEditorInForm {
  height: 200px;
}

.meebid .meebidAdminContentInLoading {
  overflow-y: hidden;
}

.meebid .meebidAuctionImageContainer {
  width: 154px;
  height: 154px;
  border: none;
  position: relative;
  display: inline-block;
  margin: 0;
  padding: 0;
  vertical-align: top;
  text-decoration: none;
  outline: none;
}

.meebid .meebidLotImageContainer {
  width: 220px;
  height: 220px;
  border: none;
  position: relative;
  display: inline-block;
  margin: 0;
  padding: 0;
  vertical-align: top;
  text-decoration: none;
  outline: none;
}

.meebid .meebidAuctionImageContainer img, .meebid .meebidLotImageContainer img, .meebid .meebidBatchLotUploadedImageContainer img{
  position: absolute;
  display: block;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  max-width: 100%;
  max-height: 100%;
  margin: auto;
  vertical-align: middle;
}


.meebid .meebidAdminLotContainer {
  display: inline-block;
  vertical-align: top;
  position: relative;
}

.meebid .meebidAuctionListButton {
  width: 100px;
}

.meebid .el-button--super-mini {
  padding: 4px 12px;
}

.meebidAdminLotName {
  font-size: 16px; 
  display: block; 
  font-weight: bolder;
}

.meebidAdminLotState {
  padding-top: 1px;
  padding-bottom: 1px;
  display: inline-block; 
  margin-top: 5px;
}

.meebidAdminLotEstimation {
  font-size: 16px; 
  display: block; 
  color: #8f8f8f;
  font-weight: bolder;
}

.meebidAdminLotStartPrice {
  font-size: 16px; 
  display: block; 
  font-weight: bolder;
}

.meebid .meebidLotTextContainer {
  min-height: 120px;
  width: 220px;
}

.meebid .meebidLotActionButtonContainer {
  display: inline-block;
  float: right;
  margin-top: 3px;
}

@media (min-width:800px) {
    .meebid .meebidAdminLotContainer {
        width: 50%;
    }
}

@media (min-width:1200px) {
    .meebid .meebidAdminLotContainer {
        width: 33%;
    }
}

@media (min-width:1600px) {
    .meebid .meebidAdminLotContainer {
        width: 25%;
    }
}


.meebid .meebidUploadSmallPicture .el-upload-list--picture-card .el-upload-list__item-thumbnail {
  max-width: 73px;
  max-height: 73px;
  width: unset;
  height: unset;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}

.meebidUploadSmallPicture .el-upload--picture-card {
  width: 74px;
  height: 74px;
  line-height: 73px;
}

.meebidUploadSmallPicture .el-upload-list--picture-card .el-upload-list__item {
  width: 74px;
  height: 74px;
}

.meebidUploadSmallPicture .el-upload--picture-card i {
  font-size: 20px;
}

.meebid .meebidUploadMiniPicture .el-upload-list--picture-card .el-upload-list__item-thumbnail {
  max-width: 56px;
  max-height: 56px;
  width: unset;
  height: unset;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}

.meebidUploadMiniPicture .el-upload--picture-card {
  width: 56px;
  height: 56px;
  line-height: 55px;
}

.meebidUploadMiniPicture .el-upload-list--picture-card .el-upload-list__item {
  width: 56px;
  height: 56px;
}

.meebidUploadMiniPicture .el-upload--picture-card i {
  font-size: 18px;
}

.meebidUploadMiniPicture .el-upload-list__item {
  font-size: 10px;
  line-height: 18px;
}

.meebidUploadMiniPicture .el-upload-list__item:first-child {
  margin-top: 4px;
}

.meebidUploadMiniPicture .el-upload-list__item {
  margin-top: 2px;
}

.meebidUploadMiniPicture .el-upload-list {
  max-height: 80px;
  overflow: scroll;
}


.meebid .meebidNoAuctionLotText {
  font-size: 24px;
  text-align: center;
}

.meebid .meebidAdminLotNumber {
  font-size: 12px;
}

.meebid .meebidBatchLotDialog .el-upload {
  margin: 0 8px 8px 0;
}

.meebid .meebidBatchLotUploadedImageContainer {
  width: 56px;
  height: 56px;
  border: none;
  position: relative;
  display: inline-block;
  margin: 5px;
  padding: 0;
  vertical-align: top;
  text-decoration: none;
  outline: none;
}

.meebid .meebidBatchLotUploadedImageColumn .cell{
  overflow: scroll;
}

.meebid .meebidAddressTableDefaultLabel {
  padding-left: 10px;
}

.meebid .meebidBatchUploadDialogHintLabel {
  float: left;
  margin-left: calc(((100% + 10px)* 0.05) + 5px);
  text-align: left;
  max-width: 60%;
}
.meebid .meebidBatchLotImagesDialog .el-dialog__footer, .meebid .meebidBatchLotDialog .el-dialog__footer {
  padding-bottom: 35px;
}

.meebid .ql-snow .ql-tooltip {
  line-height: 26px;
}
/**
  Admin Page End
  */

/** 
  Email Validation Start
  */
.meebidValidationPageContainer {
  height: 100%;
  width: 80%;
  margin: auto;
  padding-right: 10%;
}

.meebidValidationPageContainer .el-loading-spinner{
  top: 30%;
}

.meebidValidationPageContainer .el-loading-spinner i {
  font-size: 50px;
  color: #ff5242;
}

.meebidValidationPageContainer .el-loading-spinner .el-loading-text {
  color: #ff5242;
  font-size: 36px;
}

/**
  Email Validation End
  */

/**
  Lot Detail Start
  */
@media (min-width: 768px) {
  .meebid .meebidLotDetailContent {
    width: 740px;
  }
}

@media (min-width: 992px) {
  .meebid .meebidLotDetailContent {
    width: 960px;
  }
}

@media (min-width: 1200px) {
  .meebid .meebidLotDetailContent {
    width: 1160px;
  }  
}

.meebid .meebidLotDetailContent {
  margin-right: auto;
  margin-left: auto;
  margin-top: 105px;
}  

.meebid .meebidLotDetailCarouselContainer {
  width: 620px;
  display: inline-block;
}

.meebid .meebidLotDetailImageContainer {
  width: 300px;
  height: 300px;
  position: relative;
  display: inline-block;
  margin: 5px;
  padding: 0;
  vertical-align: top;
  text-decoration: none;
  outline: none;
  background: white;
  border: 2px solid #9c9c9c;
  border-radius: 8px;
}

.meebid .el-carousel--card .el-carousel__container {
  height: 320px;
}

.meebid .meebidLotDetailImageContainer img{
  position: absolute;
  display: block;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  max-width: 100%;
  max-height: 100%;
  margin: auto;
  vertical-align: middle;
}

.meebid .meebidLotDetailInformationContainer {
  width: calc(100% - 640px);
  display: inline-block;
  vertical-align: top;
}
.meebid .meebidLotDetailDescriptionContainer {

}

.meebid .meebidLotDetailDescriptionHeaderContainer {
  font-size: 20px;
}

.meebid .meebidLotDetailDescriptionHeaderContainer .meebidLotDetailDescriptionLotNoContainer {
  border-right: 1px solid #e2e2e2;
  display: inline-block;
  text-align: center;
  width: 100px;
}

.meebid .meebidLotDetailDescriptionHeaderContainer .meebidLotDetailDescriptionLotNameContainer {
  display: inline-block;
  vertical-align: top;
  width: calc(100% - 160px);
}

.meebid .meebidLotDetailDescriptionLotNameContainer .meebidLotDetailDescriptionLotName {
  font-size: 24px;
  font-weight: bold;
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.meebid .meebidLotDetailDescriptionLotNameContainer .meebidLotDetailDescriptionAuction {
  color: #777;
  font-size: 16px;
}

.meebid .meebidLotDetailDescriptionLotNameContainer .meebidLotDetailDescriptionAuctionLink {
  color: #FF5242;
  font-size: 16px;
}

.meebid .meebidLotDetailDescriptionLotNameContainer .meebidLotDetailDescriptionAuctionLink:hover, 
.meebid .meebidLotDetailDescriptionLotNameContainer .meebidLotDetailDescriptionAuctionLink:focus,
.meebid .meebidLotDetailDescriptionLotNameContainer .meebidLotDetailDescriptionAuctionLink:active {
  color: #d24437;
  cursor: pointer;
  border-bottom: none;
  text-decoration: none;
}

.meebid .meebidLotDetailDescriptionHeaderContainer .meebidLotDetailDescriptionLotNo{
  font-size: 32px;
  font-weight: bold;
}

.meebid .meebidLotDetailDescriptionEstPriceContainer {
  border: 1px solid #ddd;
  background: #f2f2f2;
  width: 100%;
}

.meebid .meebidLotDetailDescriptionEstPriceContainer span {
  font-weight: bold;
}

.meebid .meebidLotDetailDescriptionStartBidPriceContainer {
  font-size: 16px;
  font-weight: bold;
}

.meebid .meebidLotDetailMainContentContainer {
  width: 100%;
}
.meebid .meebidLotDetailCuttingLineGrey {
  border-top: 1px solid #e2e2e2;
}
.meebid .meebidLotDetailDescriptionAuctionTimeContainer {
  font-size: 16px;
}

.meebid .meebidCarouselIndicatorImageContainer {
  width: 50px;
  height: 50px;
  position: relative;
  display: inline-block;
  margin: 5px;
  padding: 0;
  vertical-align: top;
  text-decoration: none;
  outline: none;
  background: white;
  border: 1px solid #9c9c9c;
}

.meebid .is-active .meebidCarouselIndicatorImageContainer {
  border-color: #FF5242;
}

.meebid .meebidCarouselIndicatorImageContainer img{
  position: absolute;
  display: block;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  max-width: 100%;
  max-height: 100%;
  margin: auto;
  vertical-align: middle;
}

.meebid .meebidLotDetailDescriptionAuctionTypeContainer {
  font-size: 24px;
  font-style: italic;
  font-weight: bold;
  text-align: center;
}

.meebid .meebidLotDetailContent .el-collapse-item__header {
  height: 60px;
  line-height: 60px;
  color: #777;
  font-size: 24px;

}

.meebid .meebidLotDetailContent .meebidLotDetailTermsAndConditionContainer {
  position: relative;
  min-height: 50px;
  padding-left: 0px;
  padding-right: 0px;
}

.meebid .meebidLotDetailContent .meebidLotDetailEditor {
  display: none;
}

.meebid .el-collapse-item__header:focus, .meebid .el-collapse-item__header:hover{
  color: #FF5242;
}

.meebid .meebidLotDetailImageDialog .el-dialog {
  max-height: 100%;
  width: fit-content;
  max-width: 50%;
}

.meebid .meebidLotDetailImageDialog .el-dialog__body {
  padding: 0;
}

.meebid .meebidLotDetailImageDialog .el-dialog__body img{
  max-width: 100%;
  max-height: calc(100% - 15vh);
}

.meebid .meebidLotDetailImageDialog .el-dialog__header {
  display: none;
}

.meebid .meebidLotDetailImageDialog .el-dialog__footer {
  display: none;
}

.meebid .el-breadcrumb__inner a, .el-breadcrumb__inner.is-link {
  color: #FF5242;
}

.meebid .el-breadcrumb__inner a:hover, .el-breadcrumb__inner.is-link:hover {
  color: #d24437;
}

.meebid .meebidLotDetailPreviousLotLink, .meebid .meebidLotDetailNextLotLink {
  width: 49%;
  display: inline-block;
  font-weight: bold;
}

.meebid .meebidLotDetailNextLotLink {
  text-align: right;
}

.meebid .meebidLink {
  color: #FF5242;
  cursor: pointer;
}

.meebid .meebidLink:hover {
  color: #d24437;
}


.meebid .meebidLotDetailFormLabel, .meebid .meebidLotDetailFormLightLabel {
  width: 40%;
  display: inline-block;
  text-align: right;
  vertical-align: top;
}

.meebid .meebidLotDetailFormLightLabel {
  color: #999999;
}

.meebid .meebidLotDetailDescriptionActionContainer {
  background: #ddd;
  width: 100%;
  position: relative;
}

.meebid .meebidLotDetailDescriptionActionLeftContainer, .meebid .meebidLotDetailDescriptionActionRightContainer{
  width: calc(50% - 2px);
  padding: 20px 20px;
  display: inline-block;
  text-align: center;
}

.meebid .meebidLotDetailDescriptionActionContainer .meebidLink {
  display: inline;
  position: relative;
}

.meebid .meebidLotDetailDescriptionActionContainer .meebidLink .glyphicon{
  top: 2px;
}

.meebid .meebidVerticalDivider {
  position: absolute;
  z-index: 2;
  top: 0;
  left: 50%;
  margin: 0;
  padding: 0;
  width: auto;
  height: 100%;
  line-height: 0;
  text-align: center;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  border-left: 1px solid rgba(34,36,38,.15);
  border-right: 1px solid rgba(255,255,255,.1);
}

.meebid .meebidLotDetailSeeOptionLink {
  display: inline-block;
}

.meebid .meebidLotDetailHouseLogoImageContainer {
  width: 100px;
  height: 100px;
  border: none;
  position: relative;
  display: inline-block;
  margin: 0;
  padding: 0;
  vertical-align: top;
  text-decoration: none;
  outline: none;
  border: 1px solid #ccc;
  margin-left: 5px;
  margin-right: 10px;
}

.meebid .meebidLotDetailHouseLogoImageContainer img{
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  right: 0;
  max-width: 100%;
  max-height: 100%;
  margin: auto;
  vertical-align: middle;
}

.meebid .meebidLotDetailDescriptionAuctionHouseContainer .meebidAuctionInfo {
  display: inline-block;
}

.meebid .meebidLotDetailDescriptionAuctionHouseContainer .meebidLotDetailDescriptionAuctionHouseName {
  font-size: 16px;
  font-weight: bold;
}


/**
  Lot Detail End
  */


/**
  Auction Detail Start
  */
.meebid .meebidAuctionDetailContent {
  width: 100%;
}

.meebid .meebidAuctionDetailBreadcrumb {

}

.meebid .meebidAuctionDetailAuctionDescriptionContainer {
  background-color: #eeeeee;
  padding: 20px;
}

.meebid .meebidAuctionDetailDescriptionAuctionHouseContainer .meebidAuctionDetailDescriptionAuctionHouseName {
  font-size: 16px;
  font-weight: bold;
}

.meebid .meebidAuctionDetailDescriptionAuctionHouseContainer .meebidAuctionDetailDescriptionAuctionHouseName a{
  color: #FF5242;
}

.meebid .meebidAuctionDetailDescriptionAuctionHouseContainer .meebidAuctionDetailDescriptionAuctionHouseName a:hover,
.meebid .meebidAuctionDetailDescriptionAuctionHouseContainer .meebidAuctionDetailDescriptionAuctionHouseName a:visited,
.meebid .meebidAuctionDetailDescriptionAuctionHouseContainer .meebidAuctionDetailDescriptionAuctionHouseName a:focus,
.meebid .meebidAuctionDetailDescriptionAuctionHouseContainer .meebidAuctionDetailDescriptionAuctionHouseName a:active{
  color: #d24437;
  text-decoration: none;  
}

.meebid .meebidAuctionDetailDescriptionAuctionHouseContainer .meebidAuctionDetailDescriptionAuctionHouseName a:hover {
  cursor: pointer;
}


.meebid .meebidAuctionDetailDescriptionAuctionName {
  font-size: 24px;
  font-weight: bold;
}

.meebid .meebidAuctionDetailHouseLogoImageContainer {
  width: 100px;
  height: 100px;
  border: none;
  position: relative;
  display: inline-block;
  margin: 0;
  padding: 0;
  vertical-align: top;
  text-decoration: none;
  outline: none;
}

.meebid .meebidAuctionDetailHouseLogoImageContainer img{
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  right: 0;
  max-width: 100%;
  max-height: 100%;
  margin: auto;
  vertical-align: middle;
}
/**
  Auction Detail End
  */
